[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
Core/Output*/
UI/Output*/
UI/WinForms/Output*/
Data/Oracle/Output*/
Data/Redis/Output*/
Data/PostgreSQL/Output*/
Data/SQLite/Output*/
Data/SQLServer/Output*/
*.rar
*.zip
log.txt
*.DotSettings
Output/*
packages/*
